<% content_for :body_class , 'bg-light' %>

<div class="section instrument-show">
  <div class="columns">
    <div class="column is-8">
      <h1><%= @instrument.title %></h1>

      <ul class="pv1">
        <% if @instrument.brand? %>
         <li class="inline-block pr3"><%= @instrument.brand %></li>
          <% end %>
        <% if @instrument.model? %>
          <li class="inline-block pr3"><%= @instrument.model %></li>
        <% end %>
        <% if @instrument.condition? %>
          <li class="inline-block pr3"><%= @instrument.condition %></li>
        <% end %>
      </ul>
    </div>
    <div class="column is-3 is-offset-1"></div>
  </div>
</div>